In [1]:
%matplotlib notebook
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

In [2]:
redfin = pd.read_csv('complete_redfin.csv')

In [3]:
redfin.head()

,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,LOCATION,...,patio,hasPool,taxdue,frontFaceDirection,yearRemodled,propertyHistory,schoolserving,walkscore,bikescore,transitscore
0,2018-01-12,Condo/Co-op,960 E 100 S #C3,Salt Lake City,UT,84102.0,220000,2.0,2.0,Salt Lake City; So. Salt Lake,...,NaN,['0'],"['$1,286']",['N'],2000.0,"[('Sold (MLS)', 1515744000000), ('Contingent',...","[('Wasatch School', 'K to 6', 7), ('Bryant Mid...",70.0,76.0,58.0
1,2019-02-16,Condo/Co-op,241 N Vine St #1202W,Salt Lake City,UT,84103.0,400000,2.0,2.0,Salt Lake City: Avenues Area,...,['1'],['1'],"['$2,303']",NaN,NaN,"[('Delisted', 1553497200000), ('Listed', 15504...","[('Washington School', 'Preschool to 6', 5), (...",79.0,68.0,71.0
2,2019-07-05,Single Family Residential,351 E Ramona Ave S,Salt Lake City,UT,84115.0,380500,2.0,1.0,Salt Lake City; So. Salt Lake,...,NaN,NaN,NaN,NaN,NaN,[],[],58.0,83.0,57.0
3,2018-12-17,Single Family Residential,1272 N Catherine St,Salt Lake City,UT,84116.0,260000,3.0,1.0,Salt Lake City; Rose Park,...,NaN,NaN,NaN,NaN,NaN,[],[],45.0,70.0,36.0
4,2019-06-13,Single Family Residential,370 N Chicago St,Salt Lake City,UT,84116.0,325000,3.0,1.0,Salt Lake City; Rose Park,...,['1'],['0'],"['$1,175']",['W'],1988.0,"[('Sold (MLS)', 1560409200000), ('Pending', 15...","[('Jackson School', 'Preschool to 6', 3), ('Br...",53.0,83.0,51.0

In [4]:
redfin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
SOLD DATE             9994 non-null object
PROPERTY TYPE         10000 non-null object
ADDRESS               9945 non-null object
CITY                  10000 non-null object
STATE OR PROVINCE     10000 non-null object
ZIP OR POSTAL CODE    9999 non-null float64
PRICE                 10000 non-null int64
BEDS                  9902 non-null float64
BATHS                 9881 non-null float64
LOCATION              9940 non-null object
SQUARE FEET           9901 non-null float64
LOT SIZE              9627 non-null float64
YEAR BUILT            9901 non-null float64
$/SQUARE FEET         9901 non-null float64
HOA/MONTH             2331 non-null float64
STATUS                9994 non-null object
URL                   10000 non-null object
SOURCE                9994 non-null object
MLS#                  9994 non-null float64
LATITUDE              10000 non-null float64
LONGITUDE             10000 non-null float64
filename              10000 non-null int64
marketingRemark       9825 non-null object
propertyStyle         9863 non-null object
garageCap             3210 non-null object
parkingCap            2242 non-null object
driveway              4349 non-null object
roof                  4452 non-null object
patio                 2281 non-null object
hasPool               4519 non-null object
taxdue                4758 non-null object
frontFaceDirection    2596 non-null object
yearRemodled          4091 non-null float64
propertyHistory       9990 non-null object
schoolserving         9990 non-null object
walkscore             9990 non-null float64
bikescore             9990 non-null float64
transitscore          9990 non-null float64
dtypes: float64(15), int64(2), object(21)
memory usage: 2.9+ MB

## What can I do to improve the data quality for future analysis

So far we have only used 12 out of 38 columns how can we use the other columns in our data.

Many of the columns are binary values and so we could encode this data into 0 or 1 and then we would be able to use these items in analysis of the home.

Binary Columns:
- hasPool - There are some null values in this so we may have to make the assumption they do not have a pool.

Categary Columns (more than two categories):
- Driveway
- patio

In [5]:
redfin.columns

Index(['SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY', 'STATE OR PROVINCE',
       'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS', 'LOCATION',
       'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', '$/SQUARE FEET', 'HOA/MONTH',
       'STATUS', 'URL', 'SOURCE', 'MLS#', 'LATITUDE', 'LONGITUDE', 'filename',
       'marketingRemark', 'propertyStyle', 'garageCap', 'parkingCap',
       'driveway', 'roof', 'patio', 'hasPool', 'taxdue', 'frontFaceDirection',
       'yearRemodled', 'propertyHistory', 'schoolserving', 'walkscore',
       'bikescore', 'transitscore'],
      dtype='object')

In [ ]:
continous_cols = ['BEDS', 'BATHS', 'PRICE','SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', '$/SQUARE FEET', 'HOA/MONTH',
                  'yearRemodled', 'walkscore','bikescore', 'transitscore']

In [13]:
redfin['garageCap']

0       ['1']
1       ['1']
2         NaN
3         NaN
4       ['1']
5       ['2']
6       ['1']
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12      ['1']
13      ['2']
14        NaN
15      ['1']
16        NaN
17      ['1']
18        NaN
19      ['1']
20      ['2']
21      ['1']
22        NaN
23      ['2']
24      ['1']
25        NaN
26        NaN
27        NaN
28        NaN
29      ['2']
        ...
9970    ['2']
9971      NaN
9972    ['2']
9973      NaN
9974      NaN
9975      NaN
9976    ['2']
9977      NaN
9978    ['1']
9979    ['1']
9980      NaN
9981      NaN
9982      NaN
9983      NaN
9984    ['2']
9985    ['1']
9986      NaN
9987    ['1']
9988      NaN
9989      NaN
9990    ['2']
9991      NaN
9992      NaN
9993      NaN
9994      NaN
9995      NaN
9996      NaN
9997      NaN
9998      NaN
9999      NaN
Name: garageCap, Length: 10000, dtype: object

In [10]:
redfin.describe()

,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,SQUARE FEET,LOT SIZE,YEAR BUILT,$/SQUARE FEET,HOA/MONTH,MLS#,LATITUDE,LONGITUDE,filename,yearRemodled,walkscore,bikescore,transitscore
count,9999.000000,1.000000e+04,9902.000000,9881.000000,9901.000000,9.627000e+03,9901.000000,9901.000000,2331.000000,9.994000e+03,10000.000000,10000.000000,10000.00000,4091.000000,9990.000000,9990.000000,9990.000000
mean,84109.696870,3.881254e+05,3.365280,1.988665,1999.613776,8.385466e+03,1956.442380,202.836077,248.788503,1.535191e+06,40.723140,-111.883092,4999.50000,1998.819115,53.069469,62.386186,41.086286
std,7.315977,2.383667e+05,1.403236,0.939550,1090.987266,7.419185e+04,30.813936,70.229641,153.631420,4.623277e+05,0.044113,0.066160,2886.89568,7.110104,21.912648,21.325282,14.549220
min,84013.000000,6.000000e+03,0.000000,0.500000,120.000000,4.350000e+02,1860.000000,13.000000,0.000000,1.249628e+06,40.594900,-112.069890,0.00000,1973.000000,0.000000,0.000000,0.000000
25%,84105.000000,2.430000e+05,2.000000,1.500000,1320.000000,4.356000e+03,1937.000000,155.000000,150.000000,1.458616e+06,40.688959,-111.917247,2499.75000,1994.000000,40.000000,49.000000,35.000000
50%,84108.000000,3.290000e+05,3.000000,1.750000,1793.000000,6.534000e+03,1955.000000,194.000000,205.000000,1.518199e+06,40.730167,-111.870293,4999.50000,1998.000000,55.000000,63.000000,38.000000
75%,84116.000000,4.550000e+05,4.000000,2.500000,2352.000000,8.276000e+03,1978.000000,236.000000,301.000000,1.572594e+06,40.759169,-111.848681,7499.25000,2003.000000,69.000000,79.000000,46.750000
max,84401.000000,4.600000e+06,48.000000,32.000000,24108.000000,6.969600e+06,2019.000000,1242.000000,1744.000000,1.190712e+07,40.827154,-111.580563,9999.00000,2019.000000,96.000000,105.000000,80.000000